body {
    font-family: tahoma, geneva, helvetica, arial, sans-serif;
    font-size: 11px;
    background: white;
}

.heading {
    font-weight: bold;
    border: 0px;
    padding-top: 10px;
}

table {
    background: white;
}

td {
    font-family: tahoma, geneva, helvetica, arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    white-space: nowrap;
}

th {
    font-family: tahoma, geneva, helvetica, arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
}

a {
    font-family: tahoma, geneva, helvetica, arial, sans-serif;
    font-size: 10px;
    text-decoration: none;
}

a:link {
    font-family: tahoma, geneva, helvetica, arial, sans-serif;
    font-size: 10px;
    color: #366AB7;
}

a:visited {
    font-family: tahoma, geneva, helvetica, arial, sans-serif;
    font-size: 10px;
    color: #366AB7;
}

a img {
    cursor: pointer;
}

/* Test Case Result Div and Table styling */

.tcrDiv {
    width: 275px;
    margin-left: 35px;
    margin-top: 6px;
    border-left: 2px solid #E6E6FA;
    padding-left: 10px;
    padding-bottom: 2px;
}

/* Color Squares */

.pass-legend {
    width: 80px;
    background: #B2E3B6 none repeat scroll 0%; /* std Rally muted green */
    border: 1px solid #DDDDDD;
    color: black;
    cursor: default;
    float: left;
    height: 14px;
    line-height: 14px;
    margin-right: 1px;
    text-align: center;
    /* font-weight: bold; */
}

.pass-legend-inconclusive {
    width: 80px;
    background: #fbde98 none repeat scroll 0%; /* std Rally muted yellow/tan */
    border: 1px solid #DDDDDD;
    color: black;
    cursor: default;
    float: left;
    height: 14px;
    line-height: 14px;
    margin-right: 1px;
    text-align: center;
    /* font-weight: bold; */
}

.pass-legend-fail {
    width: 80px;
    background: #fCB5B1 none repeat scroll 0%; /* std Rally muted red */
    border: 1px solid #DDDDDD;
    color: black;
    cursor: default;
    float: left;
    height: 14px;
    line-height: 14px;
    margin-right: 1px;
    text-align: center;
    /* font-weight: bold; */
}